html, body {
    height: 100%;
    margin: 0 auto;
    background-color: #797572;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    line-height: 120%;
}
h1,h2,h3,h4,h5,h6{
  color: #3f3f3f;
}
.block{
  position: relative;
  display:inline-block;
  width: 36px;
  height: 8px;
  top:-2px;
  left: -12px;
  background-color: #606060;
}
.divider{
  height: 2px;
  width: 50%;
  margin: 32px auto;
  background-color: #606060;
}
.container{
  position: relative;
  width: 60%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 2px 4px 4px rgba(10,10,10,.8)
}
.header{
  height: 38px;
  max-height: 40px;
  background-color: #606060;
}
.name{
    background-color: #fff;
    text-align: center;
}
.name h2{
  margin: 24px auto;
  font-weight: bolder;
}
.name p{
  font-size: 14px;
  color: #8d8d8d;
  margin-top: -10px;
  margin-bottom: 36px;
}
.contact{
  width: 80%;
  margin: 24px auto;
  padding: 0;
  list-style: none;
  color: #3f3f3f;
  border-top: 2px solid #3f3f3f;
  border-bottom: 2px solid #3f3f3f;
}
.contact .block{
  position: relative;
  width: 18px;
  height: 4px;
  top:-6px;
  right: 6px;
}
.contact li{
  display: inline-block;
  width: 20%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
}
.contact li:nth-child(3){
  border-right: 2px solid #3f3f3f;
}

.contact:nth-of-type(1){
  font-weight: bolder;
}

.contact .email{
  width: 30%;
  border-left: 2px solid #3f3f3f;
  border-right: 2px solid #3f3f3f;
}
.about-me,.experience,.skills{
  position: relative;
  padding-top: 12px;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.about-me h2{
  font-style: normal;
}
.about-me p{
  font-size: 18px;
  letter-spacing: 2px;
  word-spacing: 4px;
  text-indent: 2em;
  text-align: left;
  line-height: 140%;
}

.experience h3{
  margin-bottom: 48px;
}

.exp-list,.skills-list{
  list-style: none;
  margin: 0;
  padding: 0;
}
.exp-item,.skills-item{
  position: relative;
  overflow: hidden;
  margin: 36px auto;
}
.skill-name{
  width: 28%;
  float: left;
  font-size: 20px;
  color: #3f3f3f;
}
.exp-title{
  font-size: 20px;
  font-weight: bold;
  display: block;
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;
}
.exp-content,.skill-description{
  width: 70%;
  float: right;
  margin: 0 auto;
  word-spacing: 2px;
  font-size: 16px;
  letter-spacing: 1px;
  text-indent: 1em;
  text-align: left;
}
.exp-content{
  width: 100%;
  font-size: 18px;
  text-align: left;
  margin-top: 2%;
  line-height: 120%;
}
.skill-description{
  line-height: 1.2;
  word-spacing: 2px;
  letter-spacing: 3px;
  font-size: 18px;
}
.check-demo{
  position: absolute;
  display: block;
  color: #233;
  text-indent: 0;
  bottom: 2px;
  right: 2px;
  font-size: 12px;
}
.check-demo:hover{
  text-decoration: underline;
}

.footer{
  height: 38px;
  background-color: #3f3f3f;
  text-align: center;
  font-size: 14px;
  color: #999;
  line-height: 38px;
}
.footer a{
  color: #fff;
}

@media (max-width:640px) {
  html,body{
    font-size: 12px;
    height: 100%;
    padding: 0;
  }
  .name h2{
    font-size: 24px;
  }
  .contact .block{
    display: none;
  }
  .contact li{
    width: 45%;
  }
  .contact li:nth-child(2){
    display: none;
  }
  .contact li:nth-child(3){
    border-right: none;
    border-left: 2px solid #3f3f3f;
  }
  .contact li:nth-child(4){
    display: none;
  }
  .container{
    width: 100%;
  }
  .contact li{
    font-size: 12px;
  }
  .about-me h2{
    font-size: 20px;
  }
  .exp-title{
    margin-top: 1%;
  }
  .exp-content{
    word-break: normal;
  }
  .skill-name{
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 6%;
    margin-top: 1%;
  }
  .skill-description{
    display: block;
    width: 100%;
  }
}
